body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .header b, .header form, .header label {
    background-color: #B80C09;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 0px;
}

.header form {
    margin-left: auto;
    margin-right: 10px;
    justify-content: flex-end;
}

.header input {
    background-color: #B80C09;
    color: #B80C09;
    border: 1px solid #ffffff;
    padding: 5px;
    height: 20px;
    border-radius: 4px;
}

.header input::placeholder {
    color: #B80C09;
}

.header input:focus {
    outline: none;
    border: 1px solid #990202;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-content: end;
    & a, > div {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    & a:hover {
        opacity: 0.75;
    }
}

.red {
    background-color: #B80C09;
    color: #FAFDF6;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.buttons {
    background-color: #B80C09;
    padding: 10px;
}

button, h3 {
    background-color: #B80C09;
    color: #ffffff;
    border: 0px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.sign h3, .sign form, .sign input {
    background-color: #B80C09;
    color: #ffffff;
    border: 1px solid #990202;
    padding: 10px;
}

.sign form input {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    border: 1px solid #990202;
}

.sign form input:focus {
    outline: none;
    border: 1px solid #ffffff;
}