body {
    width: 100%;
    background-color: white;
    color: #332C23;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

button {
    background-color: #B80C09;
    color: #FAFDF6;
    border-radius: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-content: end;
    & a, > div {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    & a:hover {
        opacity: 0.75;
    }
}

section {
    padding: 10px 20px;
}
.red {
    background-color: #B80C09;
    color: #FAFDF6;
}

.article {
    width: 350px;
    height: 150px;
    border: 2px solid #332C23;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.articleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tooltipText {
    position: absolute;
    display: none;
}
.tooltip:hover .articleText {
    display: none;
}
.tooltip:hover .tooltipText{
    width: 350px;
    display: block;
}

.center {
    text-align: center;
}

.evenDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
div .evenDisplay {
    width: 100%
}

.rowDisplay {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.reviewsBox {
    margin: 10px;
    border: 2px solid #332C23;
    border-radius: 5px;
}

.searchBar {
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 2px;
    padding-bottom: 20px;
}











