* {
    background-color: #505d6f;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .header b, .header form, .header label {
    background-color: #293443;
    color: #c9d5e1;
    display: flex;
    margin-bottom: 0px;
    input {
        background-color: #c9d5e1;
    }

}

.header form {
    margin-top: 16px;
    margin-left: 10px;
    justify-content: flex-end;
}

.header input {
    height: 15px;
}



.buttons {
    background-color: #293443;
    margin-bottom: 0px;
    button, h3{
        background-color: #293443;
        color: #c9d5e1;
        border: 0px;
    }
    button:hover h3{
        opacity: 0.4;
    }
}


.movieDatabase{
	color: #111929;
    padding: 10px;

}




.movieDatabase {
    border: 1px solid #293443;

    h3 button b{
        color: #111929;

    }
    h3 input{
        color: #c1c3c5;
        display: inline-flex;
    }
    button input{
	background-color: #293443;
    	margin: 0px;
	border: 0px;
    	button, h3{
        color: #c9d5e1;
    }


    }
    button input:hover {
        opacity: 0.4;
    }
    form {
	display: flex;
    }
    button {
    border: 0px;
    margin-top: -13px;
    margin-bottom: -13px;
    }
}



.sign h3, .sign form, .sign input{ 
    border: 1px solid #293443;
    padding: 10px;
    color: #c9d5e1;
    background-color: #293443;
 }


.sign form input{ 
    padding: 10px;
    color: black;
    background-color: white;
 }

