body {
    width: 100%;
    background-color: white;
    color: #332C23;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #B80C09;
    color: #FAFDF6;
    border-radius: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-content: end;
    & a {
        color: #4A8FE7;
        display: flex;
        flex-direction: column;
        justify-content: end;;
    }
    & a:hover {
        color: #B80C09;
    }
}

section {
    padding: 10px 20px;
}
section:nth-child(odd) {
    background-color: #B80C09;
    color: #FAFDF6;
}

.center {
    text-align: center;
}

.rowDisplay {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.header, .header b, .header form, .header label {
    background-color: #293443;
    color: #c9d5e1;
    display: flex;
    margin-bottom: 0px;
    input {
        background-color: #c9d5e1;
    }

}

.header input, label {
    margin-top: 16px;
    margin-left: 10px;
    justify-content: flex-end;
}

.header input {
    height: 15px;
}

.buttons .search {
    border: 1px solid #c9d5e1;
    margin-top: 12px;
    margin-left: 10px;
    h3 {
        margin-top: 3px;
        margin-bottom: 3px;
    }

}

.buttons {
    background-color: #293443;
    margin-bottom: 0px;
    button, h3{
        background-color: #293443;
        color: #c9d5e1;
        border: 0px;
    }
    button:hover h3{
        opacity: 0.4;
    }
}

.genre, .movies {
    border: 1px solid #293443;
    padding: 10px;
    h3 button b{
        color: #111929;

    }
    h3 {
        color: #111929;
        display: inline-flex;
    }
    button {
        border-bottom: 1px solid #c9d5e1;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    button:hover {
        opacity: 0.4;
    }
}

.sign h3, .sign form, .sign input{ 
    border: 1px solid #293443;
    padding: 10px;
    color: #c9d5e1;
    background-color: #293443;
    /* h3 button b{
        color: #c9d5e1;

    }
    h3 {
        color: #c9d5e1;
    }
    button {
        border-bottom: 1px solid #c9d5e1;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    button:hover {
        opacity: 0.4;
    } */
}

.sign input {
    background-color: #c9d5e1;
}

.movies button {
    border: 0;
    padding: 10px;
}

form input {
 color: black;
}


